[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"

[packages]
alembic = "==0.8.6"
pyramid = "==1.7"
"pyramid-jinja2" = "==2.6.2"
pyramid-mailer = "==0.14.1"
pyramid-redis-sessions = "==1.0.1"
pyramid-sqlalchemy = "==1.6"
pyramid-tm = "==0.12.1"
pyramid-wtforms = "==2.4.0"

[dev-packages]
pyramid-debugtoolbar = "*"
waitress = "*"
"e1839a8" = {path = ".", editable = true}
