[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[packages]
alembic = "*"
pyramid = "*"
"pyramid-jinja2" = "*"
pyramid-mailer = "*"
pyramid-sqlalchemy = "*"
pyramid-tm = "*"
pyramid-wtforms = "*"
pymysql = "*"
invoke = "*"
pyramid-beaker = "*"
xlwt = "*"

[dev-packages]
pyramid-debugtoolbar = "*"
waitress = "*"
pytest = "*"
rope = "*"
tox = "*"
flake8 = "*"
tp_enroll = {path = ".",editable = true}
