[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[packages]
alembic = "*"
pyramid = "*"
"pyramid-jinja2" = "*"
pyramid-mailer = "*"
pyramid-redis-sessions = "*"
pyramid-sqlalchemy = "*"
pyramid-tm = "*"
pyramid-wtforms = "*"
pymysql = "*"

[dev-packages]
pyramid-debugtoolbar = "*"
waitress = "*"
"e1839a8" = {path = ".", editable = true}
pytest = "*"
pylint = "*"
rope = "*"
